* {
    margin: 0;
    padding: 0;
}


/* the display property 
the css display property is used to determine whether an element is treated as a block/inline element & the layout used for its children */

/* display : inline 
takes only the space required by the element . No line breaks before and after . Setting width/height not allowed . */

/* display : block  
takes full space available in width and leaves a newline before and after the element*/

/* display : inline-block
similar to inline but setting height, width , margin, and padding is allowed. elements can sit next to each other */

/* display : hidden /none
hides or delete the space occupied by the element */

/* text-align property - used to set the horizonal alignment of the text
text-decoration property - used to decorate the text can be overline, underline etc
text-transform - lowercase uppercase for the text 
line- height -- defines the line height of the text
font-family - specifies the font of a text 
font-size - define the size of the text  */

nav {
    background-color: black;
    color :white;
    text-align: center;
    padding: 10px;
}

main {
    display: flex;
    flex-direction: row;
}

.red {
    display: inline-block;
    height: 200px;
    width: 50%;
    background-color: red;
    text-align: center;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.green {
    display: inline-block;
    height: 200px;
    width: 50%;
    background-color: green;
    color: white;
    text-align: center;
}


footer {
    font-family: 'Baloo Bhai';
    font-size: 22px;
}

